<%- include partials/header %>
    <div class="container">
        <br />
        <h2>All Users</h2>
        <br />          
        
        <div class="row">
            <div class="col-sm-12">
            
                <% if (message.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Field </strong> <%= message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                <% if (deleteMessage.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Delete </strong> <%= deleteMessage %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

            	<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Terms & Con.</th>
							<th scope="col">Date</th>
                            <th scope="col">Action</th>
						</tr>
					</thead>
                <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <th><%= user.id %></th>
                            <td><%= user.username %></td>
                            <td><%= user.firstname %></td>
                            <td><%= user.lastname %></td>
                            <td><%= user.email %></td>
                            <td><%= user.gender %></td>
                            <td><%= user.agreement %></td>
                            <td><%= moment(user.created_at).format( 'MMM-DD-YYYY HH:MM:ss') %></td>
                            <td>
                                <a href="/edit_user/<%= user.id%>" class="btn btn-success">Edit</a>
								<a href="/delete_user/<%= user.id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        
                    <% }); %>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    
<%- include partials/footer %>